@model quizt.Models.OnlineExamClass

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>OnlineExamClass</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Question)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Question)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.option1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.option1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.option2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.option2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.option3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.option3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.option4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.option4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Correctans)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Correctans)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Qid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
